<!-- BEGIN address -->
<div class="address">

	<!-- BEGIN title -->
	<div class="title">
		<div class="title-logo">{{mixins.icon('title-bg')}}{{mixins.icon('flag')}}</div>
		<h2 class="title-h2">Адрес школы</h2>
		<div class="title-about">Москва. ул. Кузнецкий мост, д.19, стр.1, этаж 4, офис №43 </div>
	</div>
	<!-- END title -->
	<!-- BEGIN wrapper -->
	<div class="wrapper">
		<div class="address__info">Адрес проведения может измениться, мы сообщим дополнительно по телефону.</div>

	</div>
	<!-- END wrapper -->

	<!-- BEGIN google-map -->
	<div class="google-map" id="map">	</div>
	<!-- END google-map -->

</div>
<!-- END address -->