<!-- BEGIN header -->
<header class="header">
	<!-- BEGIN wrapper -->
	<div class="wrapper">
		<!-- BEGIN logo -->
		<div class="logo">
			<div class="logo__title">школа ясновидения</div>
			<div class="logo__name">НАТАЛИИ носачевой</div>
		</div>
		<!-- END logo -->
		<a class="button header__button js-payment" href="#payment">Записаться сейчас</a>
		<!-- BEGIN telephone -->
		<div class="telephone">
			<div class="telephone__title">Бесплатный телефон для справок</div>
			<div class="telephone__number">8 800 555 22 96</div>
		</div>
		<!-- END telephone -->
	</div>
	<!-- END wrapper -->
</header>
<!-- END header -->