<!-- BEGIN opinions -->
<div class="opinions">
	<!-- BEGIN wrapper -->
	<div class="wrapper">

		<!-- BEGIN title -->
		<div class="title">
			<div class="title-logo">{{mixins.icon('title-bg')}}{{mixins.icon('star')}}</div>
			<h2 class="title-h2">Мнение известных людей</h2>
			<div class="title-about">о Наталии Носачевой и школе экстрасенсов</div>
		</div>
		<!-- END title -->

		<!-- BEGIN opinion -->
		<div class="opinion">
			<div class="opinion__img"><img src="img/op1.png" alt="Валерия Кудрявцева"></div>
			<div class="opinion__title">Валерия Кудрявцева</div>
			<div class="opinion__text">Если вы желаете овладеть навыками ясновидения стремитесь узнать все </div>
		</div>
		<!-- END opinion -->
		<!-- BEGIN opinion -->
		<div class="opinion">
			<div class="opinion__img"><img src="img/op2.png" alt="Михаил Пореченков"></div>
			<div class="opinion__title">Михаил Пореченков</div>
			<div class="opinion__text">Человек способен сам свою жизнь таким образом, чтобы активизировались</div>
		</div>
		<!-- END opinion -->
		<!-- BEGIN opinion -->
		<div class="opinion">
			<div class="opinion__img"><img src="img/op3.png" alt="Михаил Виноградов"></div>
			<div class="opinion__title">Михаил Виноградов</div>
			<div class="opinion__text">Заработали в полную силу самые совершенные механизмы внутренней регуляции</div>
		</div>
		<!-- END opinion -->

	</div>
	<!-- END wrapper -->
</div>
<!-- END opinions -->