<!-- BEGIN payment -->
<div class="payment" id="payment">
	
	<!-- BEGIN wrapper -->
	<div class="wrapper">

		<h2 class="payment__title">Стоимость обучения</h2>

		<!-- BEGIN payment__about -->
		<div class="payment__about">
			<p class="payment__text"><span>Дата начала 4-5 октября.</span> Если вы желаете овладеть навыками ясновидения и саморегуляции, стремитесь узнать о себе и своей цели жизни - "Авторская Школа Ясновидения Носачевой" для вас!</p>
			<div class="payment__price payment__price_old">Старая цена<p>40 000 P</p></div>
			<div class="payment__price">Новая цена<p>35 000 P</p></div>
		</div>
		<!-- END payment__about -->

		<!-- BEGIN counter -->
		<div class="counter">
			<h3 class="counter__title">До конца акции осталось</h3>

			<!-- BEGIN counter__item -->
			<div class="counter__item">
				<div class="counter__number">2</div>
				<div class="counter__number">5</div>
				<div class="counter__name">Дней</div>
			</div>
			<!-- END counter__item -->


			<!-- BEGIN counter__item -->
			<div class="counter__item">
				<div class="counter__number">1</div>
				<div class="counter__number">4</div>
				<div class="counter__name">Часов</div>
			</div>
			<!-- END counter__item -->


			<!-- BEGIN counter__item -->
			<div class="counter__item">
				<div class="counter__number">3</div>
				<div class="counter__number">7</div>
				<div class="counter__name">Минут</div>
			</div>
			<!-- END counter__item -->


			<!-- BEGIN counter__item -->
			<div class="counter__item">
				<div class="counter__number">2</div>
				<div class="counter__number">8</div>
				<div class="counter__name">Секунд</div>
			</div>
			<!-- END counter__item -->

		</div>
		<!-- END counter -->

		<!-- BEGIN payment-now -->
		<div class="payment-now">
			<div class="payment-now__text">Купить прямо сейчас <b>дешевле на 20% </b></div>
			<div class="payment-now__price">27 000 P</div>
			<a class="button payment-now__button"  href="#payment">Оплатить со скидкой</a>
		</div>
		<!-- END payment-now -->

	</div>
	<!-- END wrapper -->
</div>
<!-- END payment -->