<!-- BEGIN problems -->
<div class="problems">
	<!-- BEGIN wrapper -->
	<div class="wrapper">
		
		<!-- BEGIN title -->
		<div class="title">
			<div class="title-logo">{{mixins.icon('title-bg')}}{{mixins.icon('view')}}</div>
			<h2 class="title-h2">Проблемы и их решение</h2>
		</div>
		<!-- END title -->
		
		<!-- BEGIN problem -->
		<div class="problem problem_gray">
			<div class="problem__title">Потеря жизненных ориентиров</div>
			<div class="problem__arrow"></div>
			<div class="problem__about">Путь к обретению внутренней гармонии, открытие энергетических каналов и внутреннего источника сил для выстраивания успешной линии жизни</div>
		</div>
		<!-- END problem -->
				
		<!-- BEGIN problem -->
		<div class="problem">
			<div class="problem__title">Проблемы в бизнесе</div>
			<div class="problem__arrow"></div>
			<div class="problem__about">Оценка правильности деловых решений и выбора партнеров по бизнесу посредством сверхчувствительного экстрасенсорного восприятия.</div>
		</div>
		<!-- END problem -->
				
		<!-- BEGIN problem -->
		<div class="problem problem_gray">
			<div class="problem__title">Разлад в семейной жизни</div>
			<div class="problem__arrow"></div>
			<div class="problem__about">Навык поиска и искоренения первопричин семейных невзгод, будь то психологический конфликт, чей-то недобрый умысел или интриги на стороне</div>
		</div>
		<!-- END problem -->
				
		<!-- BEGIN problem -->
		<div class="problem">
			<div class="problem__title">Проблемы со здоровьем</div>
			<div class="problem__arrow"></div>
			<div class="problem__about">Усиленное восприятие и навыки комплементарной медицины позволят найти и искоренить первопричину любой болезни</div>
		</div>
		<!-- END problem -->

		<!-- BEGIN problem -->
		<div class="problem problem_gray">
			<div class="problem__title">Материальные проблемы</div>
			<div class="problem__arrow"></div>
			<div class="problem__about">Поиск правильного решения финансовых проблем посредством обостренной интуиции и чувственного экстрасенсорного восприятия</div>
		</div>
		<!-- END problem -->

	</div>
	<!-- END wrapper -->
</div>
<!-- END problems -->