<!-- BEGIN reviews -->
<div class="reviews">

	<!-- BEGIN title -->
	<div class="title">
		<div class="title-logo">{{mixins.icon('title-bg')}}{{mixins.icon('message')}}</div>
		<h2 class="title-h2">Отзывы о школе Носачевой</h2>
		<div class="title-about">Мы помогаем людям и они это ценят</div>
	</div>
	<!-- END title -->

	<!-- BEGIN wrapper -->
	<div class="wrapper">
		<!-- BEGIN our-activity -->
		<div class="our-activity">

			<!-- BEGIN activity -->
			<div class="activity">
				<div class="activity__title is-big">30</div>
				<div class="activity__title">лет</div>
				<div class="activity__text">эффективной  мировой практики</div>
			</div>
			<!-- END activity -->
			
			<!-- BEGIN activity -->
			<div class="activity">
				<div class="activity__title is-big">3000</div>
				<div class="activity__title">человек</div>
				<div class="activity__text">успешно прошли обучение</div>
			</div>
			<!-- END activity -->
			
			<!-- BEGIN activity -->
			<div class="activity">
				<div class="activity__title is-big">17</div>
				<div class="activity__title">учеников</div>
				<div class="activity__text"><b>занимаются собственной</b> практикой</div>
			</div>
			<!-- END activity -->

		</div>
		<!-- END our-activity -->

		<!-- BEGIN opinions-box -->
		<div class="opinions-box">

			<!-- BEGIN opinion -->
			<div class="opinion is-horizontal">
				<div class="opinion__img"><img src="img/op3.png" alt="Михаил Виноградов"></div>
				<div class="opinion__title">Дорофеева Анна, Москва</div>
				<div class="opinion__text">Хотелось бы высказать большую благодарность  за оказанную помощь!</div>
			</div>
			<!-- END opinion -->

			<!-- BEGIN opinion -->
			<div class="opinion is-horizontal">
				<div class="opinion__img"><img src="img/op3.png" alt="Михаил Виноградов"></div>
				<div class="opinion__title">Антон Тимушкин, Киев </div>
				<div class="opinion__text">Всего за 5 месяцев я по методике Носачевой Н.Г. смогла убрать эту опухоль</div>
			</div>
			<!-- END opinion -->

			<!-- BEGIN opinion -->
			<div class="opinion is-horizontal">
				<div class="opinion__img"><img src="img/op3.png" alt="Михаил Виноградов"></div>
				<div class="opinion__title">Сергина Мария, Москва </div>
				<div class="opinion__text">После проведенного курса лечения эхо-патологии не выявлено  </div>
			</div>
			<!-- END opinion -->

			<!-- BEGIN opinion -->
			<div class="opinion is-horizontal">
				<div class="opinion__img"><img src="img/op3.png" alt="Михаил Виноградов"></div>
				<div class="opinion__title">Измаил Ануев, Минск </div>
				<div class="opinion__text">Я очень благодарен Наталии Григорьевне за все, что она для меня сделала, в сущности продлила мне жизнь.</div>
			</div>
			<!-- END opinion -->
			
		</div>
		<!-- END opinions-box -->
		
	</div>
	<!-- END wrapper -->

</div>
<!-- END reviews -->

