<!-- BEGIN rewards -->
<div class="rewards">
		<!-- BEGIN title -->
		<div class="title">
			<div class="title-logo">{{mixins.icon('title-bg')}}{{mixins.icon('mortarboard')}}</div>
			<h2 class="title-h2">Дипломы и награды</h2>
			<div class="title-about">мировое признание деятельности Наталии Носачевой</div>
		</div>
		<!-- END title -->
	<!-- BEGIN wrapper -->
	<div class="wrapper">
		

		<!-- BEGIN reward-slider -->
		<div class="reward-slider">
		
			<div class="reward">
				<img class="reward__img" src="img/reward1.png" alt="reward">
				<div class="reward__about">Сертификат преподавателя Натальи Носачевой</div>
			</div>
		
			<div class="reward">
				<img class="reward__img" src="img/reward1.png" alt="reward">
				<div class="reward__about">Диплом профессора народной медицины</div>
			</div>
		
			<div class="reward">
				<img class="reward__img" src="img/reward1.png" alt="reward">
				<div class="reward__about">Диплом программы «Битва экстрасенсов»</div>
			</div>

			<div class="reward">
				<img class="reward__img" src="img/reward1.png" alt="reward">
				<div class="reward__about">Сертификат «Медицина и целительство» Сертификат «Медицина и целительство» Сертификат «Медицина и целительство» Сертификат «Медицина и целительство» Сертификат «Медицина и целительство» </div>
			</div>		



			<div class="reward">
				<img class="reward__img" src="img/reward1.png" alt="reward">
				<div class="reward__about">Сертификат преподавателя Натальи Носачевой</div>
			</div>
		
			<div class="reward">
				<img class="reward__img" src="img/reward1.png" alt="reward">
				<div class="reward__about">Диплом профессора народной медицины</div>
			</div>
		
			<div class="reward">
				<img class="reward__img" src="img/reward1.png" alt="reward">
				<div class="reward__about">Диплом программы «Битва экстрасенсов»</div>
			</div>

			<div class="reward">
				<img class="reward__img" src="img/reward1.png" alt="reward">
				<div class="reward__about">Сертификат «Медицина и целительство»</div>
			</div>

		</div>
		<!-- END reward-slider -->
	</div>
	<!-- END wrapper -->
</div>
<!-- END rewards -->