<!-- BEGIN technique -->
<div class="technique">
	<!-- BEGIN wrapper -->
	<div class="wrapper">
		<!-- BEGIN title -->
		<div class="title">
			<div class="title-logo">{{mixins.icon('title-bg')}}{{mixins.icon('like')}}</div>
			<h2 class="title-h2">Уникальная авторская методика</h2>
			<div class="title-about">направленная на раскрытие ваших внутренних способностей</div>
		</div>
		<!-- END title -->
		<!-- BEGIN skills -->
		<div class="skills">
			<ol class="slills__list">
				<li class="skills__item">
					<b>Для того чтобы начать</b>
					<p>наш разговор о  человека, прежде расскажу, что это вообще такое и как его едят</p>
				</li>
				<li class="skills__item">
					<b>Нарушение ауры</b> <p>приводит к  заболеваниям и биоэнергетическое поле - наша защитабудет навечно</p>
				</li>
				<li class="skills__item"><b>Мы можем сталкиваться</b> <p>с ними постоянно изо дня в день, но не знать об этом, единственный</p></li>
				<li class="skills__item"><b>Мэтр науки</b> <p>действительный член Европейской академии естественных наук Германия</p> </li>
				<li class="skills__item"><b>Мэтр науки</b> <p>действительный член Европейской академии естественных наук Германия</p> </li>
				<li class="skills__item"><b>5 навыков,</b> которые точно способны изменить вашу жизнь! </li>
			</ol>
		</div>
		<!-- END skills -->
	
	</div>
	<!-- END wrapper -->
</div>
<!-- END technique -->