<!-- BEGIN top -->
<div class="top">
	<!-- BEGIN wrapper -->
	<div class="wrapper">
		<h1 class="title-h1" >Ясновидение – моё призвание и может стать вашим!</h1>
		<div class="top__text">Школа Наталии Носачевой раскроет в Вас способности, о которых Вы не знали ранее.</div>
		<a class="button top__button js-payment"  href="#payment">Записаться в школу</a>
	</div>
	<!-- END wrapper -->

	<div class="top__line">Обучение проводится с помощью уникальных биоэнергетических методик</div>
</div>
<!-- END top -->
