<!-- BEGIN training -->
<div class="training">
	<!-- BEGIN wrapper -->
	<div class="wrapper">
		<div class="training__title">Программа обучения</div>
		<div class="training__date">Дата начала 4-5 октября</div>
		<div class="training__about">Наталия Носачева проводит обучение с применением авторской биоэнергетической методики, которая постоянно дополняется с учетом накопленного опыта применения. На последнем занятии проводится личная консультация отдельно с каждым учеником.</div>

		<!-- BEGIN training__days -->
		<div class="training__days">

			<!-- BEGIN day -->
			<div class="day">
				<div class="day__title">1 день</div>
				<ul class="day__list">
					<li class="day__item">
						<div class="day__time">10:00</div>
						<div class="day__text">Введение в курс</div>
					</li>
					<li class="day__item">
						<div class="day__time">12:00</div>
						<div class="day__text">Практическая</div>
					</li>
					<li class="day__item">
						<div class="day__time">16:00</div>
						<div class="day__text">Маятник</div>
					</li>
					<li class="day__item">
						<div class="day__time">18:00</div>
						<div class="day__text">Практические таблицы</div>
					</li>
					<li class="day__item">
						<div class="day__time">20:00</div>
						<div class="day__text">Теоретический курс</div>
					</li>
				</ul>
			</div>
			<!-- END day -->


			<!-- BEGIN day -->
			<div class="day">
				<div class="day__title">2 день</div>
				<ul class="day__list">
					<li class="day__item">
						<div class="day__time">10:00</div>
						<div class="day__text">Введение в курс</div>
					</li>
					<li class="day__item">
						<div class="day__time">12:00</div>
						<div class="day__text">Практическая чтототамтакое</div>
					</li>
					<li class="day__item">
						<div class="day__time">16:00</div>
						<div class="day__text">Маятник</div>
					</li>
					<li class="day__item">
						<div class="day__time">18:00</div>
						<div class="day__text">Практические</div>
					</li>
					<li class="day__item">
						<div class="day__time">20:00</div>
						<div class="day__text">Теоретический курс</div>
					</li>
				</ul>
			</div>
			<!-- END day -->


			<!-- BEGIN day -->
			<div class="day">
				<div class="day__title">3 день</div>
				<ul class="day__list">
					<li class="day__item">
						<div class="day__time">10:00</div>
						<div class="day__text">Введение в курс</div>
					</li>
					<li class="day__item">
						<div class="day__time">12:00</div>
						<div class="day__text">Практическая</div>
					</li>
					<li class="day__item">
						<div class="day__time">16:00</div>
						<div class="day__text">Маятник</div>
					</li>
					<li class="day__item">
						<div class="day__time">18:00</div>
						<div class="day__text">Практические таблицы</div>
					</li>
					<li class="day__item">
						<div class="day__time">20:00</div>
						<div class="day__text">Теоретический курс</div>
					</li>
				</ul>
			</div>
			<!-- END day -->


			<!-- BEGIN day -->
			<div class="day">
				<div class="day__title">4 день</div>
				<ul class="day__list">
					<li class="day__item">
						<div class="day__time">10:00</div>
						<div class="day__text">Введение в курс</div>
					</li>
					<li class="day__item">
						<div class="day__time">12:00</div>
						<div class="day__text">Практическая</div>
					</li>
					<li class="day__item">
						<div class="day__time">16:00</div>
						<div class="day__text">Маятник</div>
					</li>
					<li class="day__item">
						<div class="day__time">18:00</div>
						<div class="day__text">Практические</div>
					</li>
					<li class="day__item">
						<div class="day__time">20:00</div>
						<div class="day__text">Теоретический курс</div>
					</li>
				</ul>
			</div>
			<!-- END day -->

		</div>
		<!-- END training__days -->

		<a  href="#payment" class="button training__button">Купить Онлайн</a>
	</div>
	<!-- END wrapper -->
</div>
<!-- END training -->

<!-- BEGIN application-form -->
<div class="application-form">
	<!-- BEGIN wrapper -->
	<div class="wrapper">
		<form action="#" method="post" class="application">
			<input type="text" placeholder="Имя">
			<input type="text" placeholder="Е-мейл">
			<input type="text" placeholder="Телефон">
			<input type="submit" value="Оставить заявку">
		</form>
	</div>
	<!-- END wrapper -->

</div>
<!-- END application-form -->