<!-- BEGIN videos -->
<div class="videos">

	<!-- BEGIN title -->
	<div class="title">
		<div class="title-logo">{{mixins.icon('title-bg')}}{{mixins.icon('video')}}</div>
		<h2 class="title-h2">Видео с участием Наталии Носачевой</h2>
	</div>
	<!-- END title -->

	<!-- BEGIN wrapper -->
	<div class="wrapper">

		<!-- BEGIN videos-block -->
		<div class="videos-block">
			
			<!-- BEGIN video -->
			<div class="video">
				<!-- BEGIN video-box -->
				<div class="video-box">
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/ljKbBW97oUI?rel=0" frameborder="0" allowfullscreen></iframe>
				</div>
				<!-- END video-box -->
				<div class="video__about">Участие и победа в проекте «Битва экстрасенсов»</div>
			</div>
			<!-- END video -->			
			<!-- BEGIN video -->
			<div class="video">
				<!-- BEGIN video-box -->
				<div class="video-box">
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/ljKbBW97oUI?rel=0" frameborder="0" allowfullscreen></iframe>
				</div>
				<!-- END video-box -->
				<div class="video__about">Интервью для газеты «Московский Комсомолец»</div>
			</div>
			<!-- END video -->			
			<!-- BEGIN video -->
			<div class="video">
				<!-- BEGIN video-box -->
				<div class="video-box">
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/ljKbBW97oUI?rel=0" frameborder="0" allowfullscreen></iframe>
				</div>
				<!-- END video-box -->
				<div class="video__about">Съемка в различных программах телеканала ТНТ</div>
			</div>
			<!-- END video -->

		</div>
		<!-- END videos-block -->

	</div>
	<!-- END wrapper -->
</div>
<!-- END videos -->