{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="css/app.css">
    {# {% include "../partials/_media-tags.html" %} #}
  </head>
  <body>
    {% include "partials/_header.html" %}
    <!-- BEGIN content -->
    <div class="out">
      {% block content %}{% endblock %}
    </div>
    <!-- END content -->

    <!-- BEGIN scripts -->
    <script type="text/javascript" src="js/app.js"></script>


    <!-- подключать инлайном после основного скрипта -->
    <script>
      /*begin map*/
      var map;
      var initMap =  function () {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 55.762482, lng: 37.625862},
          zoom: 13,
          scrollwheel: false
        });
        setMarkers(map, places);
      }
      var places = [
      ['Частная школа', 55.762482, 37.625862, 'img/map-pin.svg']
      ];
      function setMarkers(map) {
        var marker, i;
        for (i = 0; i < places.length; i++) {
          var description = places[i][0]
          var lat = places[i][1]
          var long = places[i][2]
          var img =  places[i][3]
          var latshort = places[i][1].toFixed(5);
          var longshort = places[i][2].toFixed(5);
          latlngset = new google.maps.LatLng(lat, long);
          marker = new google.maps.Marker({
            position: latlngset,
            map: map,
            icon: img
          });
          
          // центр карты п по маркеру  map.setCenter(marker.getPosition());
          /*закомментить если не нужны всплывающие окна
          var content = "<div class='map-marker-wrapper'><p class='map-marker-descr'>" +description +"</p>" + "<span class='map-marker-coord'>" + latshort + ", " + longshort  + "</span></div>";
          var infowindow = new google.maps.InfoWindow();
          google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
            return function() {
              infowindow.setContent(content);
              infowindow.open(map,marker);
            };
          })(marker,content,infowindow)); 
          закомментить если не нужны всплывающие окна*/

        }
      }
      /*end map*/
    </script>    
    <script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA04VMqMvV-ifF4mtvOnsUkf3Lw9F9ivAg&callback=initMap"
type="text/javascript"></script>
    <!-- END scripts -->

  </body>
</html>
