@font-face {
  font-family: "iconfont";
  src: url('fonts/iconfont.eot');
  src: url('fonts/iconfont.eot?#iefix') format('eot'),
    url('fonts/iconfont.woff2') format('woff2'),
    url('fonts/iconfont.woff') format('woff'),
    url('fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-facebook: "\EA01";
$icon-flag: "\EA02";
$icon-like: "\EA03";
$icon-message: "\EA04";
$icon-mortarboard: "\EA05";
$icon-pinmap: "\EA06";
$icon-star: "\EA07";
$icon-title-bg: "\EA08";
$icon-video: "\EA09";
$icon-view: "\EA0A";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-facebook:before { content: $icon-facebook; }
.icon-flag:before { content: $icon-flag; }
.icon-like:before { content: $icon-like; }
.icon-message:before { content: $icon-message; }
.icon-mortarboard:before { content: $icon-mortarboard; }
.icon-pinmap:before { content: $icon-pinmap; }
.icon-star:before { content: $icon-star; }
.icon-title-bg:before { content: $icon-title-bg; }
.icon-video:before { content: $icon-video; }
.icon-view:before { content: $icon-view; }
