.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-flag {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-like {
  width: 1.12em;
  height: 1em;
  fill: #fff;
}
.icon-message {
  width: 0.98em;
  height: 1em;
  fill: #fff;
}
.icon-mortarboard {
  width: 1.35em;
  height: 1em;
  fill: #fff;
}
.icon-pinmap {
  width: 0.71em;
  height: 1em;
  fill: #fff;
}
.icon-star {
  width: 1.05em;
  height: 1em;
  fill: #fff;
}
.icon-title-bg {
  width: 0.9em;
  height: 1em;
  fill: none;
}
.icon-video {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-view {
  width: 1.48em;
  height: 1em;
  fill: #fff;
}
